
 <div class="row">
    <div class="col-6">
        <!-- <ea36-recipe-list (sendRecipeToParentRecipeComp)="catchRecipeFromChildList($event)"></ea36-recipe-list> -->
        <ea36-recipe-list ></ea36-recipe-list>
    </div>
    <div class="col-6">
        <!-- <ea36-recipe-details *ngIf ="currentSelectedRecipe; else noRecipeSelected" [catchSelectedRecipeFromParentRecipeComp]= "currentSelectedRecipe"></ea36-recipe-details>
        <ng-template #noRecipeSelected>
            <h2><i class="fa fa-hand-o-left " aria-hidden="true" ></i>Click any of these recipis to see their Details!</h2>
        </ng-template> -->
        <!-- <ea36-recipe-edit></ea36-recipe-edit> -->
         <router-outlet></router-outlet>
    </div>
 </div>
