<!-- <p>recipe-details</p> -->
<!-- Look Here==>> {{catchSelectedRecipeFromParentRecipeComp | json}} -->
<div class="row">
    <div class="col-12">
        <!-- <img [src]="CurrentSelectedRecipe.image" alt="">
        <h2>{{CurrentSelectedRecipe.name}} hails from({{CurrentSelectedRecipe.origin}})</h2>
        <h2>{{CurrentSelectedRecipe.category}}</h2>
        <p> {{CurrentSelectedRecipe.description}}</p>
        <h2>{{CurrentSelectedRecipe.chefName}}</h2>
        <h3>{{CurrentSelectedRecipe.price | currency:'INR'}}</h3> -->
        recipe details works <br>
        look here==>> {{CurrentSelectedRecipe | json}}
    </div>
</div>